.table-header {
  /* background-color: var(--table-header-bg); */
}

.table-th {
  padding: 0 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  position: relative;
}

.table-th::before {
  content: '';
  position: absolute;
  top: 33%;
  right: 0;
  height: 33%;
  width: 1px;
  border-right: 1px solid #ccc;
}

.table-th:last-child::before {
  content: none;
}

.table-fixed-th {
  background-color: var(--table-header-bg);
  overflow: visible;
}
