.wumu-table {
  color: #333;

  --primary-color: #1da57a;
  --table-header-bg: #fafafa;
  --table-border-color: #bdbebd;
  --table-hover-bgcolor: #f5f5f5;
  --table-disable-bg: #dbdbdb;
  --table-bg: #fff;

  font-family: sans-serif;
  font-size: 14px;
  background-color: initial;
}

[data-prefers-color='dark'] .wumu-table {
  color: #ddd;

  --primary-color: #12644a;
  --table-header-bg: #383838;
  --table-border-color: #3d3d3d;
  --table-hover-bgcolor: #565656;
  --table-disable-bg: #2b2b2b;
  --table-bg: #060606;
}

.wumu-table-header {
  overflow: hidden;
  position: relative;
}

.wumu-table-header table {
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}

.wumu-table-body {
  background-color: transparent;
}

.wumu-table-body table {
  border-collapse: separate;
  table-layout: fixed;
  width: 100%;
}
