.wumu-table {
  color: #333;

  --primary-color: #1da57a;

  font-family: sans-serif;
  font-size: 14px;
  background-color: initial;
}

[data-prefers-color='dark'] .wumu-table {
  color: #ddd;

  --primary-color: #12644a;
}

.wumu-table-header {
  overflow: hidden;
  position: relative;
}

.wumu-table-header table {
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}

.wumu-table-body {
  background-color: transparent;
}

.wumu-table-body table {
  border-collapse: separate;
  table-layout: fixed;
  width: 100%;
}
