.table-tbody {
  font-family: inherit;
  font-size: inherit;
}

.wumu-default-not-found-content {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  background-color: #f2f2f2;
}

.table-tr {
  cursor: cell;
  background-color: var(--table-bg);
}

.table-tr:hover {
  background-color: var(--table-hover-bgcolor);
}

.table-td {
  padding: 0 8px;
  border-bottom: 1px solid var(--table-border-color);
  border-right: 1px solid var(--table-border-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.table-first-td {
  border-left: 1px solid var(--table-border-color);
}

.table-first-tr {
  border-top: 1px solid var(--table-border-color);
}

.table-fixed-td {
  background-color: var(--table-bg);
  overflow: visible;
}

.table-tr:hover .table-fixed-td {
  background-color: var(--table-hover-bgcolor);
}

.table-td-readonly {
  background-color: var(--table-disable-bg);
  cursor: not-allowed;
}
